POSTGRES_USER=cassh
POSTGRES_PASSWORD=changeme
POSTGRES_DB=cassh
LDAP_HOST=ldap.example.com
LDAP_PORT=389
LDAP_BIND_DN=cn=cassh,ou=apps,o=example,c=com
LDAP_BIND_PASSWORD=changeme
LDAP_BASE_DN=ou=People,c=example,c=com
LDAP_GROUPS_BASE_DN=ou=Roles,c=example,c=com
LDAP_ADMIN_CN=cassh-admin-role
LDAP_MEMBERSHIP_FIELD=uniqueMember
LDAP_USERNAME_FIELD=userPrincipalName
LDAP_SEARCH_FILTER=(&(objectClass=user)(userAccountControl=1))
SSL_PRIVATE_KEY_PATH=/opt/cassh/server/keys/ssl/example_com.key
SSL_PUBLIC_KEY_PATH=/opt/cassh/server/keys/ssl/example_com.crt
WEB_SSL_PRIV_KEY=/opt/cassh/web/keys/ssl/example_com.key
WEB_SSL_PUB_KEY=/opt/cassh/web/keys/ssl/example_com.crt
WEB_CASSH_URL=https://cassh-server:8080
WEB_ENCRYPTION_KEY=changeme